<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/admin.css">
        <link rel="stylesheet" href="/styles/messages.css">
        {% block title %}
            <title>Admin | Foodfy</title>
        {% endblock title %}
    </head>
    <body>
        {% include "../parts/messages.njk" %}
        <header>
            <div class="navbar">
            <a href="/admin/recipes" class="title">Foodfy</a>
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
            <a href="/admin/users">Usuários</a>
            <a href="/admin/users/logout">Sair</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>