<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/admin.css">
        {% block title %}
            <title>Admin | Foodfy</title>
        {% endblock title %}
    </head>
    <body>
        <header>
            <div class="navbar">
            <a href="/admin/recipes">Foodfy</a>
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>