{% extends "./base-admin.njk" %}

{% block title %}
    <title>Admin |
        {{recipes.title}}</title>
{% endblock title %}

{% block content %}
    <section class="admin-container">
        <h1>Editando receita</h1>

        <form id="delete" action="/admin/recipes?_method=DELETE" method="POST">
            <button type="submit" class="button-delete">Deletar</button>
            <input type="hidden" name="id" value="{{recipes.id}}">
        </form>

        <form action="/admin/recipes?_method=PUT" method="POST" enctype="multipart/form-data">
            <button type="submit" class="button">Salvar receita</button>

            <div class="fields">
                {% include "admin/fields.njk" %}
            </div>
            <input type="hidden" name="id" value="{{recipes.id}}">

        </form>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/admin.js"></script>
{% endblock scripts %}