{% extends "./base-admin.njk" %}

{% block title %}
    <title>Admin | Editar usuário</title>
{% endblock title %}

{% block content %}
    <section class="admin-container">
        <form action="" method="POST">
            <h1>Criar usuário</h1>
            <button type="submit" class="button new-user">Salvar</button>
            <a href="/admin/users" class="button new-user">Cancelar</a>

            <div class="fields new-user">
                {% include 'admin/fields-users.njk' %}
            </div>
        </form>

    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/admin.js"></script>
{% endblock scripts %}