<div class="title-recipe">
    <h1>Titulo</h1>
    <input type="text" name="title" value="{{recipes.title}}">
</div>

<div class="author-recipe">
    <h1>Autor</h1>
    <select name="chef_id">
        {% for chefOption in options %}
            <option value="{{chefOption.id}}" {% if recipes.chef_id == chefOption.id %} selected="selected" {% endif %}>
                {{chefOption.name}}
            </option>
        {% endfor %}
    </select>
</div>

<div class="image-recipe">
    <h1>Imagem da receita</h1>
    <div class="container-uploader">
        <div id="photos-upload">
            <i class="material-icons">
                add
            </i>
            <input id="photos-input" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
        </div>
        <div id="photos-preview">
            {% if files %}
                {% for image in files %}
                    <div class="photo" id="{{image.id}}">
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">
                            close
                        </i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
</div>

<!--<div class="image-recipe"> <h1>Imagem da receita</h1> <input type="text" name="image" value="{{recipes.image}}"> </div>-->

<div id="ingredients" class="ingredients">
    <h1>Ingredientes</h1>
    <div id="ingredient" class="ingredient">
        {% for ingredient in recipes.ingredients %}
            <input type="text" name="ingredients[]" value="{{ingredient}}" placeholder="Ingredient">
        {% endfor %}
    </div>
</div>
<button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

<div id="preparations" class="preparations">
    <h1>Modo de preparo</h1>
    <div id="preparation" class="preparation">
        {% for step in recipes.preparation %}
            <input type="text" name="preparation[]" value="{{step}}" placeholder="Preparation">
        {% endfor %}
    </div>
</div>
<button type="button" class="add-preparation">Adicionar novo passo</button>

<div class="information-recipe">
    <h1>Informações adicionais</h1>
    <textarea name="information" id="information" cols="30" rows="10" placeholder="Information">{{recipes.information}}</textarea>
</div>