<div class="item">
    <span>Nome</span>
    <input type="text" name="name" value="{{admin.name}}" placeholder="Digite seu nome completo" required="required">
</div>

<div class="item">
    <span>Email</span>
    <input type="email" name="email" value="{{admin.email}}" placeholder="Digite seu email" required="required">
</div>

<div class="item">
    <input type="checkbox" name="is_admin" id="is_admin">
    <font>Administrador</font>
</div>