{% extends "./base-admin.njk" %}

{% block title %}
    <title>Admin | Recipes</title>
{% endblock title %}

{% block content %}
    <section class="container">
        <span>Gerenciar receitas</span>

        <div class="recipes">
            {% for receita in recipes %}
                <div class="recipe">
                    <span class="image" style="background-image: url({{receita.image}});"></span>
                    <div class="details">
                        <h1>{{receita.title}}</h1>
                        {% for chef in chefs %}
                            {% if chef.id == receita.chef_id %}
                                <h5>por {{chef.name}}</h5>
                            {% endif %}
                        {% endfor %}
                        <a href="/admin/recipes/{{receita.id}}">visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="pagination" 
        data-page="{{pagination.page}}" 
        data-total="{{pagination.total}}">
    </div>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/pagination.js"></script>
{% endblock scripts %}