{% extends "./base-admin.njk" %}

{% block title %}
    <title>Minha conta</title>
{% endblock title %}

{% block content %}
    <section class="admin-container">
        <form action="" method="POST">
            <h1>Bem vindo
                {{admin.name}}</h1>
            <button type="submit" class="button">Salvar</button>

            <div class="fields new-user">
                <div class="item">
                    <span>Nome</span>
                    <input type="text" name="name" value="{{admin.name}}" placeholder="Digite seu nome completo" required="required">
                </div>

                <div class="item">
                    <span>Email</span>
                    <input type="email" name="email" value="{{admin.email}}" placeholder="Digite seu email" required="required">
                </div>

                <div class="item">
                    <span>Senha</span>
                    <input type="password" name="password" placeholder="Digite sua senha" required="required">
                </div>
            </div>
        </form>

    </section>
{% endblock content %}

{% block scripts %}{% endblock scripts %}