{% extends "./base-admin.njk" %}

{% block title %}
    <title>Admin | Usuários</title>
{% endblock title %}

{% block content %}
    <section class="admin-container">
        <h1>Usuários</h1>
        {% if administrator == true %}
            <a href="/admin/users/create" class="button list">Novo</a>
        {% endif %}

        <div class="list-users">

            {% for user in users %}
                <div class="user">
                    <h3>{{user.name}}</h3>
                    <span>{{user.email}}</span>
                    {% if administrator == true %}
                        {% if myid == user.id %}
                            <div class="footer-user">
                                <a href="/admin/profile/{{user.id}}/edit">Editar</a>
                            </div>
                        {% else %}
                            <form name="admin-fn{{user.id}}" id="admin-fn{{user.id}}" action="/admin/users?_method=DELETE" method="POST">
                                <div class="footer-user">
                                    <a href="/admin/profile/{{user.id}}/edit">Editar</a>
                                    <a href="#" onclick="document.forms['admin-fn{{user.id}}'].submit()">Remover</a>
                                </div>
                                <input type="hidden" name="id" value="{{user.id}}">
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock content %}

{% block scripts %}{% endblock scripts %}