{% extends "./base-admin.njk" %}

{% block title %}
    <title>Usuários</title>
{% endblock title %}

{% block content %}
    <section class="admin-container">
            <h1>Usuários</h1>
            <a href="/admin/users/create" class="button list">Novo</a>

            <div class="list-users">
                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="/admin/profile/99/edit">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>

                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>

                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>

                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>

                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>

                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>

                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>

                <div class="user">
                    <h3>Diego</h3>
                    <span>diego@hotmail.com</span>
                    <div class="footer-user">
                        <a href="#">Editar</a>
                        <a href="#">Remover</a>
                    </div>
                </div>
                
            </div>
</section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}