{% extends "base.njk" %}

{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
    <main>
        <h1>As melhores receitas</h1>
        <h4>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</h4>
        <img src="/assets/chef.png" alt="Chef">
    </main>

    <div class="title">
        <h1>Mais acessadas</h1>
    </div>

    <section class="cards">

        {% for receita in recipes %}
            <div class="card" id="{{recipes.indexOf(receita)}}">
                <img src="{{receita.image}}" alt="{{receita.title}}">
                <div class="title">{{receita.title}}</div>
                <div class="autor">{{receita.author}}</div>
            </div>
        {% endfor %}

    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/script.js"></script>
{% endblock scripts %}