@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 80px;
    background-color: black;
}
header .navbar {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
}
header .navbar a {
    color: #FFFFFF;
    margin-left: 0;
    text-decoration: none;
    font-size: 26.9px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 78px;
}
/* Index */
section.container {
    width: 100%;
    min-height: 87%;
    display: flex;
    flex-direction: column;
}
body section.container span {
    max-height: 28px;
    color: #111111;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 16.5%;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.recipes {
    width: 940px;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 0 39px;
}
.recipes .recipe {
    max-width: 441px;
    max-height: 80px;
    display: grid;
    grid-template-columns: 172px 1fr;
    margin: 0 0 20px 0;
}
.recipes .recipe span.image {
    max-width: 172px;
    min-height: 80px;
    border-radius: 8.57px;
    background-color: black;
    margin: 0;
    background-position: center center;
    background-size: cover;
}
.recipes .recipe .details {
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 20px;
}
.recipes .recipe .details h1 {
    width: 249px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.recipes .recipe .details h5 {
    width: auto;
    box-sizing: border-box;

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}
.recipes .recipe .details a {
    text-decoration: none;
    width: auto;
    box-sizing: border-box;
    color: blue;
}
/* Edit */
section.admin-container {
    width: 940px;
    margin: 0 auto;
    min-height: 87%;
position: relative;
padding-top: 1px;
}
section.admin-container h1 {
    margin: 53px 0 30px 0;
}
section.admin-container button,
section.admin-container a.button {
    position: absolute;
    top: 50px;
    max-width: 139px;
    border-radius: 4px;
    padding: 9px 20px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    background-color: #6558C3;
    text-decoration: none;
}
section.admin-container .button {
    right: 0%;
}
section.admin-container .button-delete {
    right: 16%;
    background-color: #DC4747;
}
section.admin-container .fields {
    top: 113px;
    width: 100%;
}
.fields input[type="text"],
.fields textarea {
    width: 100%;
    border-radius: 4px;
    border: solid 1px #DDDDDD;
    padding: 15px 20px;
    color: #111111;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
}

.fields .title-recipe {
    width: auto;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    font-weight: bold;
}
.fields .title-recipe h1 {
    font-weight: bold;
    color: #111111;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin: 0  0 10px 0;
}
.fields .title-recipe input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 15px 20px;
    font-weight: normal;
    color: #111111;
    font-size: 16px;
    line-height: 19px;
}
/*-----*/
.fields .author-recipe,
.fields .image-recipe,
.fields .ingredients,
.fields .preparations,
.fields .information-recipe {
    margin: 30px 0 0 0;
    width: auto;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    font-weight: bold;
}
.fields .author-recipe h1,
.fields .image-recipe h1,
.fields .ingredients h1,
.fields .preparations h1,
.fields .information-recipe h1 {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #111111;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.fields .ingredients input + input,
.fields .preparations input + input {
    margin: 10px 0 0 0;
}

.fields .ingredients,
.fields .preparations { position: relative;}

.fields .add-ingredient,
.fields .add-preparation {
    position: initial;
    color: #6558C3;
    background-color: white;
    cursor: pointer;
    margin-top: 15px;
    padding: 0;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    max-width: 200px;
    border-radius: 0;
}

.fields textarea { margin: 0 0 30px 0; }
/*Show*/
section.admin-container span {
    display: flex;
    width: 940px;
    height: 230px;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 50px;
}
section.admin-container .title {
    width: auto;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 4px;
}
section.admin-container .author {
    font-weight: normal;
    width: auto;
    font-size: 20px;
    line-height: 24px;
    color: #777777;
    text-align: center;
    margin-bottom: 31px;
}
section.admin-container h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    margin-bottom: 19px;
}

section.admin-container .recipe-detail {
    font-weight: normal;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 41px;
}
section.admin-container .recipe-detail ul {
    list-style-type: "- ";
}
