
.messages {
    width: 344px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 12px;
    right: 18px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    opacity: 1;
    animation: messages 400ms 5s ease-out forwards;
    z-index: 100;
}
.error {
    background-color: #DC4747;
}
.success {
    background-color: #01B12A;
}
@keyframes messages {
    to {
        top: -350px;
        opacity: 0;
    }
}