{% extends "base.njk" %}

{% block title %}
<title>Chefs</title>
{% endblock title %}

{% block content %}
<section class="cards align-chefs">
    <div class="chef">
        <span style="background-image: url(https://images.unsplash.com/photo-1504911539020-cfb0f7887a5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);"></span>
        <div class="info">
            <h1>Marysa Labrone</h1>
            <h2>2 receitas</h2>
        </div>
    </div>

    <div class="chef">
        <span style="background-image: url(https://images.unsplash.com/photo-1504911539020-cfb0f7887a5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);"></span>
        <div class="info">
            <h1>Marysa Labrone</h1>
            <h2>2 receitas</h2>
        </div>
    </div>

    <div class="chef">
        <span style="background-image: url(https://images.unsplash.com/photo-1504911539020-cfb0f7887a5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);"></span>
        <div class="info">
            <h1>Marysa Labrone</h1>
            <h2>2 receitas</h2>
        </div>
    </div>

    <div class="chef">
        <span style="background-image: url(https://images.unsplash.com/photo-1504911539020-cfb0f7887a5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);"></span>
        <div class="info">
            <h1>Marysa Labrone</h1>
            <h2>2 receitas</h2>
        </div>
    </div>

    <div class="chef">
        <span style="background-image: url(https://images.unsplash.com/photo-1504911539020-cfb0f7887a5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);"></span>
        <div class="info">
            <h1>Marysa Labrone</h1>
            <h2>2 receitas</h2>
        </div>
    </div>

    <div class="chef">
        <span style="background-image: url(https://images.unsplash.com/photo-1504911539020-cfb0f7887a5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);"></span>
        <div class="info">
            <h1>Marysa Labrone</h1>
            <h2>2 receitas</h2>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/script.js"></script>
{% endblock scripts %}