{% extends "base.njk" %}

{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
    <main>
        <h1>As melhores receitas</h1>
        <h4>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</h4>
        <img src="/assets/chef.png" alt="Chef">
    </main>

    <div class="title">
        <h1>Mais acessadas</h1>
    </div>

    <section class="cards">

        {% for receita in recipes %}
            <div class="card" id="{{receita.id}}">
                    {% for image in files %}
                        {% if image[0].recipeid == receita.id %}
                            <img src="{{image[0].path}}" alt="{{receita.title}}">
                        {% endif %}
                    {% endfor %}

                <div class="title">{{receita.title}}</div>
                {% for chef in chefs %}
                    {% if chef.id == receita.chef_id %}
                        <div class="autor">por
                            {{chef.name}}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/script.js"></script>
{% endblock scripts %}