{% extends "base.njk" %}

{% block title %}
    <title>Foodfy | Not-found</title>
{% endblock title %}

{% block content %}
<div class="not-found">
    Ops :( , esta página não existe ou esta fora do ar no momento.
</div>
{% endblock content %}