{% extends "base.njk" %}

{% block title %}
    <title>{{data.title}}</title>
{% endblock title %}

{% block content %}
    <section class="view-recipe">

        <img src="{{data.image}}" alt="{{data.title}}">

        <h1>{{data.title}}</h1>
        {% for chef in chefs %}
            {% if chef.id == data.chef_id %}
                        <h5>por {{chef.name}}</h5>
            {% endif %}
        {% endfor %}
        <div class="bar">
            <h2>Ingredientes</h2>
            <a class="detalhes" id="ingredientes">MOSTRAR</a>
        </div>
        <div class="ingredientes-preparo oculto">
            <ul>
                {% for item in data.ingredients %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="bar2">
            <h2>Modo de preparo</h2>
            <a class="detalhes1" id="preparo">MOSTRAR</a>
        </div>
        <div class="ingredientes-preparo oculto1">
            <ul>
                {% for item in data.preparation %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="bar3">
            <h2>Informações adicionais</h2>
            <a class="detalhes2" id="informacoes">MOSTRAR</a>
        </div>
        <div class="mais-infos oculto2">
            {{data.information}}
        </div>

    </section>
{% endblock content %}

{% block scripts %}
<script src="/scripts/script.js"></script>
{% endblock scripts %}