{% extends "base.njk" %}

{% block title %}
    <title>Busca</title>
{% endblock title %}

{% block content %}
    <section class="cards">
        {% for receita in recipes %}
            <div class="card" id="{{receita.id}}">
                <img src="{{receita.image}}" alt="{{receita.title}}">
                <div class="title">{{receita.title}}</div>
                {% for chef in chefs %}
                    {% if chef.id == receita.chef_id %}
                        <div class="autor">por
                            {{chef.name}}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/script.js"></script>
{% endblock scripts %}